<div class="container text-justify" style="line-height: 30px;">
    <br>
    <h1 class="animated fadeIn fast"> Congreso Internacional Anual</h1>
    <hr>
    <p class="animated fadeIn">
        Se realizar&aacute; en l&iacute;nea del 17 al 20 de noviembre del 2020, con motivo del 44 aniversario de nuestra instituci&oacute;n educativa. <br> El objetivo de este magno evento consiste en generar un espacio de encuentro multidisciplinario
        entre los Investigadores, la sociedad civil y las instituciones del sistema educativo nacional que permita Incentivar el desarrollo cient&iacute;fico, human&iacute;stico, tecnol&oacute;gico y la innovaci&oacute;n como detonante del bienestar social
        y de progreso en las regiones.
    </p>
    <h5 class="animated fadeIn fast"> Objetivos Espec&iacute;ficos</h5>
    <ul class="list-unstyled">
        <li class="my2"><span style="color: rgb(54, 31, 187);"><i class="far fa-circle"></i></span>&nbsp;&nbsp;&nbsp;Promover la formaci&oacute;n de investigadores</li>
        <li class="my2"><span style="color: rgb(54, 31, 187);"><i class="far fa-circle"></i></span>&nbsp;&nbsp;&nbsp;Difundir la investigaci&oacute;n cient&iacute;fica y tecnol&oacute;gica generada por investigadores, profesionistas, profesores y estudiantes de los Institutos
            Tecnol&oacute;gicos, de instituciones p&uacute;blicas y privadas del pa&iacute;s y del extranjero.
        </li>
        <li class="my2"><span style="color: rgb(54, 31, 187);"><i class="far fa-circle"></i></span>&nbsp;&nbsp;&nbsp;Intercambiar experiencias en investigaci&oacute;n e innovaci&oacute;n.</li>
        <li class="my2"><span style="color: rgb(54, 31, 187);"><i class="far fa-circle"></i></span>&nbsp;&nbsp;&nbsp;Vincular la docencia y la investigaci&oacute;n con el sector productivo.</li>
    </ul>

    <h5 class="animated fadeIn fast"> Dirigido a</h5>
    <p class="animated fadeIn fast">Investigadores, cuerpos acad&eacute;micos, profesionistas, empresarios, profesores y estudiantes de instituciones p&uacute;blicas y privadas del pa&iacute;s y del extranjero.</p>
    <br><br><br>
</div>