<div class="container text-justify" style="line-height: 30px;">
    <br>
    <h1 class="animated fadeIn fast"> Congreso Internacional Anual</h1>
    <hr>
    <p class="animated fadeIn">
        Se realizará en línea del 17 al 20 de noviembre del 2020, con motivo del 44 aniversario de nuestra institución educativa. <br> El objetivo de este magno evento consiste en generar un espacio de encuentro multidisciplinario entre los Investigadores,
        la sociedad civil y las instituciones del sistema educativo nacional que permita Incentivar el desarrollo científico, humanístico, tecnológico y la innovación como detonante del bienestar social y de progreso en las regiones.
    </p>
    <h5 class="animated fadeIn fast"> Objetivos Específicos</h5>
    <ul class="list-unstyled">
        <li class="my2"><i class="far fa-circle"></i>&nbsp;&nbsp;&nbsp;Promover la formación de investigadores</li>
        <li class="my2"><i class="far fa-circle"></i>&nbsp;&nbsp;&nbsp;Difundir la investigación científica y tecnológica generada por investigadores, profesionistas, profesores y estudiantes de los Institutos Tecnológicos, de instituciones públicas y privadas del país
            y del extranjero.
        </li>
        <li class="my2"><i class="far fa-circle"></i>&nbsp;&nbsp;&nbsp;Intercambiar experiencias en investigación e innovación.</li>
        <li class="my2"><i class="far fa-circle"></i>&nbsp;&nbsp;&nbsp;Vincular la docencia y la investigación con el sector productivo.</li>
    </ul>

    <h5 class="animated fadeIn fast"> Dirigido a</h5>
    <p class="animated fadeIn fast">Investigadores, cuerpos académicos, profesionistas, empresarios, profesores y estudiantes de instituciones públicas y privadas del país y del extranjero.</p>
    <br><br><br>
</div>