<div class="container">
    <br>
    <h1 class="animated fadeIn fast"> Congreso Internacional Anual</h1>
    <hr>
    <p class="animated fadeIn text-justify">
        El congreso Internacional Anual es un evento en el cual se presentan grandes personalidades las cuales nos ofrecen sus conocimientos y los expresan a todos aquellos interesados en aprender algo nuevo. En este año 2020, el formato del mismo ha cambiado,
        ofreciendo un evento en línea para respetar los protocolos que se siguen por la pandemia que nos aqueja. A su vez, se planea seguir impartiendo contenido de calidad, que satisfaga a todos los asistentes al evento. Hoy les damos la bienvenida a
        nuestra página, para poder así continuar con todo lo que conlleva este evento de gran magnitud.<br>Cualquier duda o sugerencia, se tienen los contactos en la parte de abajo.
    </p>
    <br>
    <br><br><br><br><br><br><br><br><br>
</div>