.texto {
    text-align: right;
    width: max-content;
}
.divi{
    display: inline-block;
    width: 20%;
    text-align: end;
    min-width: 250px;
}
.tam{
    max-width: 280px !important; 
}
@media only screen and (max-width: 578px) {
    .divi {
        text-align: center;
    }
}