<div class="modal fade" id="modalConf" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    {{!this.data.selectConferencista.id ? 'Agrega conferencista' : 'Edita conferencista'}}
                </h5>

            </div>
            <div class="modal-body">
                <form #formConf="ngForm" (ngSubmit)="guardarConferencista(formConf)" name="formConf" class="needs-validation" novalidate>
                    <input type="hidden" name="id" [(ngModel)]="this.data.selectConferencista.id">
                    <div class="form-group">
                        <label for="nombre" class="col-form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="data.selectConferencista.nombre" required autocomplete="off"> 
                        
                    </div>

                   <!-- <label for="nombre" class="col-form-label">Imagen subir</label>
                    <input type="text" class="form-control" id="recipient-name"> -->
                    <label for="img" class="col-form-label">Imagen&nbsp;(Opcional)</label>
                    <input type="file" #inFile accept=".jpg, .png" id="imga" class="form-control" (change)=onUpload($event) style="text-overflow: ellipsis; overflow: hidden; padding-bottom: 10px; border-color: gray;">
                    
                    <div class="progress" style="margin-top: 5px; margin-bottom: 5px;">
                        <div #barra class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadPercent |async) + '%'"></div>
                    </div>
                
                    <div class="form-group" >
                        <!--<input #img type="text" class="form-control" id="img" [value]="urlImage|async" [(ngModel)]="this.data.selectConferencista.img" name="img">-->
                        <input #img type="text" readonly class="form-control" id="img" [(value)]="datosUrl" [(ngModel)]="data.selectConferencista.img" name="img">
                    </div>
                    <div class="form-group">
                        <label for="tipo" class="col-form-label">Tipo:&nbsp;&nbsp;</label>
                        <select name="tipo" id="tipo" [(ngModel)]="this.data.selectConferencista.tipo" name="tipo" required>
                            <option value="Conferencista">Conferencista</option>
                            <option value="Tallerista">Tallerista</option>
                            <option value="Ponente">Ponente</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="nomConferencia" class="col-form-label">Nombre Conferencia</label>
                        <input type="text" class="form-control" id="nomConf" [(ngModel)]="this.data.selectConferencista.nomConferencia" name="nomConferencia" required autocomplete="off"> 
                    </div>
                    <div class="form-group">
                        <label for="desConferencia" class="col-form-label">Descripción</label>
                        <input type="text" class="form-control" id="descripcion" [(ngModel)]="this.data.selectConferencista.desConferencia" name="desConferencia" required autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="datosPonente" class="col-form-label">Datos Ponente</label>
                        <input type="text" class="form-control" id="dataPon" [(ngModel)]="this.data.selectConferencista.datosPonente" name="datosPonente" required autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="fecha" class="col-form-label">Fecha</label>
                        <input type="text" class="form-control" id="fecha" [(ngModel)]="this.data.selectConferencista.fecha" name="fecha" required autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="link" class="col-form-label">Link</label>
                        <input type="text" class="form-control" id="link" [(ngModel)]="this.data.selectConferencista.link" name="link" required autocomplete="off">
                    </div>



                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" #btnClose (click)="limpiar(formConf)" data-dismiss="modal">Cerrar</button>
                        <button #enviar type="submit" class="btn btn-primary" [disabled]='formConf.invalid'>Guardar</button>
                    </div>

                    <input type="hidden" name="completed" value="false" [(ngModel)]="this.data.selectConferencista.completed">

                </form>
            </div>

        </div>
    </div>
</div>