.forma {
    display: grid;
    height: 350px;
    justify-content: center;
}

.btn-outline-inicio {
    color: rgb(27 57 106);
    border-color: rgb(27 57 106) !important;
    background-color: white;
}

.btn-outline-inicio:hover {
    border-color: rgb(27 57 106);
    background-color: rgb(27 57 106) !important;
    color: white;
}
.nav-link{
    padding-top: -22px;
}