<!--<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <h1>Login</h1>

                <form>
                    <div class="form-group">
                        <input type="email" class="form-control">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control">
                    </div>

                    <button class="btn btn-primary btn-lg">Login</button>

                </form>

            </div>
        </div>

    </div>
</div>-->
<div class="container">
    <br><br><br><br>
    <mat-card class="mat-elevation-z3">
    <form style="text-align: center;" [formGroup]="loginForm">
        <br><br>
        <h1 class="animated fadeIn fast "> Iniciar Sesi&oacute;n </h1>
        <hr><br><br>
        
        <mat-form-field appearance="outline" [style.min-width.px]=210 [style.width.%]=50 [style.max-width.px]=330>
            <mat-label>Correo Electronico</mat-label>
            <input matInput placeholder="pat@ejemplo.com" formControlName='correo'>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" [style.min-width.px]=210 [style.width.%]=50 [style.max-width.px]=330 layout="row">
            <mat-label>Contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName='contra'>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
        </mat-form-field>
        <br><br>
        <button mat-raised-button color="primary" type="submit" (click)="verificar(loginForm.value)" [style.width.px]=180>Iniciar Sesi&oacute;n</button>
        <br><br><br>
    </form>
    </mat-card>
    <br><br><br><br>
</div>