<div class="container">
    <br><br>
    <h1 class="animated fadeIn">{{ponente.nombre | uppercase}}</h1>

    <hr>

    <div class="row animated fadeIn fast">

        <div class="col-md-4 ">

            <img [src]="ponente.img" class="img-fluid" [alt]="ponente.nombre"><br><br><br>
            <img src="assets/img/congreso.jpg" class="img-fluid">
            <br><br>
            <a [routerLink]="['/ponentes']" class="btn btn-outline-danger btn-block">Regresar a Personalidades</a>

        </div>

        <div class="col-md-8">

            <h3 class="text-justify">{{ponente.nomConferencia}}</h3>
            <h5>Horario:<br>
                <small>{{ponente.fecha}}</small>
                <small *ngIf="ponente.fecha1"><br>{{ponente.fecha1}}<br></small>
                <small *ngIf="ponente.fecha2">{{ponente.fecha2}}</small>
            </h5>

            <hr>
            <p class="text-justify">
                {{ponente.datosPonente}}
            </p>
            <p *ngIf="ponente.datosPonente1" class="text-justify">
                {{ponente.datosPonente1}}
            </p>
            <p *ngIf="ponente.datosPonente1" class="text-justify">
                {{ponente.datosPonente2}}
            </p>
            <p *ngIf="ponente.datosPonente1" class="text-justify">
                {{ponente.datosPonente3}}
            </p>

        </div>


    </div>

    <br><br>
</div>