.botones{
    display: flex;
    flex-direction: column;
}
.conferencias{
    display: flex;
    flex-direction: column;
}
.talleres{
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 767px) {
    .campo{
        width: 300px !important;
    }
}
@media only screen and (max-width: 381px) {
    .campo{
        width: 200px !important;
    }
}