<div class="card animated fadeIn fast">
    <img [src]="ponente.img" class="card-img-top" [alt]="ponente.nombre">
    <div class="card-body">
        <h5 class="card-title">{{ ponente.nombre }}</h5>
        <p class="card-text text-justify">{{ ponente.desConferencia }}</p>
        <p class="card-text"><small class="text-muted">{{ponente.tipo}}</small></p>

        <button (click)="verPonente()" type="button" class="btn btn-outline-primary btn-block">
            Ver más...
        </button>

        <!--<a [routerLink]="['/heroe', i]" class="btn btn btn-outline-primary">Ver más link...</a>-->
    </div>
</div>