<!--<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class=" navbar-brand " href="# ">
        <img src="assets/img/tnm.png" width="30" height="30" alt="" loading="lazy"> Congreso Internacional
    </a>
    <button class="navbar-toggler " type="button " data-toggle="collapse " data-target="#navbarSupportedContent " aria-controls="navbarSupportedContent " aria-expanded="false " aria-label="Toggle navigation ">
      <span class="navbar-toggler-icon "></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent ">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link " routerLink="home">Inicio</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link " routerLink="about">Acerca de</a>

        </ul>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="assets/img/tnm.png" width="30" height="30" alt="" loading="lazy"> Congreso Internacional
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="home">Home </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="about">Acerca de</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['ponentes']">Ponentes</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <div *ngIf='this.ses.verificarSesion()' class='collapse navbar-collapse'>
                <a class="nav-link" style="color:white;cursor:pointer"  (click)='this.ses.logOut()'>Cerrar Sesion</a>
                <a class="nav-link" style="color:white" routerLink="perfil">{{this.ses.getNombreSesion()}}</a>
            </div>
            <div *ngIf='!this.ses.verificarSesion()' class='collapse navbar-collapse'>
                <a class="nav-link" style="color:white" routerLink="login"> Iniciar Sesion</a>
                <a class="nav-link" style="color:white" routerLink="register">Registrarse</a>
            </div>
        </form>

        <div class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar ponente" aria-label="Search" (keyup.enter)="buscarPonente(buscarTexto.value)" #buscarTexto>
            <button (click)="buscarPonente(buscarTexto.value)" class="btn btn-outline-primary my-2 my-sm-0" type="button">Buscar
            </button>
        </div>
    </div>
</nav>